.App {
  text-align: center;
}

html, body {
  height: 100%
}

body {
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.page-container {
  flex: 1 0 auto;
}

/* .content-wrap {
  padding-bottom: 4rem;  
} */

/* 
Colors

main color : #009688
background light : #FFFFFF
font : #001A33
main dark : #009688
main light : #006756
secondary color : #404E88
secondary dark : #06265b
secondary light : #6f7ab8

*/
