.card-simple-wrap {
    position: relative;
    height: 100%;
    width: 100%;
}

.card-simple-description {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(29, 106, 154, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: 0;
  
    transition: opacity .2s, visibility .2s;
}

.card-simple-description-text  {
    /* Centrer verticalement et horizontalement */
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 2rem;
    /* Applique un négative top et left margin pour le centrage de l'élément */
    margin: -25% 0 0 -25%; 
    
}

.card-simple-wrap:hover .card-simple-description {
    visibility: visible;
    opacity: 1;
  }