$border-color: #1414142f;
$background-color: #404E88;
$font-color: #ffffff;
$margin-x: 0 20px;

// Whole container for the card 
.resource-card {
    border: 1px solid $border-color;
    border-radius: 15px;
    margin: 1rem;
}

// Header of the card
.resource-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $font-color;
    background-color: $background-color;
    border-radius: 15px 15px 0 0;
    padding: 0.5rem;
}

// Center horizontaly the content inside the card
.resource-card-center {
    padding: 0 1rem;
}

// Add a margin on the X-axis
.margin-x {
    margin: $margin-x;
}

// Line to separate title and content
.line {
    //border-bottom: 2px solid #cccccc;
    display: block;
}